doctype html
html(lang="en")
  head
    title PhotoGallery
    meta(charset="utf-8")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    div(class="container")
      block content
