html
  head
    title Mi primera página con express
  body
    //Comentarios
    - var arreglo =[1,2,3,4,5];
    - for (var i = 0; i < arreglo.length; i++) 
      p= arreglo[i]
      p.
        Hola haz click #[a(href="http://google.es") aqui]
    - if (true)
      p. Hola
    each item in arreglo
      case item 
       when 1 
         p El item era 1
      
    
    
